{
  "evaluator": "context-document",
  "config": {
    "document-subcontext": {
      "items": [{
        "key": "document",
        "items": [{
          "key": "document/json",
          "rejectAuthority": [
            "oup-editors"
          ]
        }]
      }]
    }
  }
}
