{
    "title": "OUP Editor",
    "description": "Editor View",
    "projectId": "f30dea70df8d4197b411",
    "enabled": true,
    "key": "editor",
    "config": {
        "blocks": [
            {
                "evaluator": "context-project",
                "config": {
                    "project-context": {
                        "items": [
                            {
                                "key": "project/content/heading",
                                "items": [
                                    {
                                        "key": "project/content",
                                        "remove": false
                                    },
                                    {
                                        "key": "project/datalists",
                                        "remove": true
                                    }
                                ]
                            },
                            {
                                "key": "project/search/heading",
                                "items": [
                                    {
                                        "key": "project/dataviews",
                                        "remove": true
                                    }
                                ]
                            },
                            {
                                "key": "project/collaboration/heading",
                                "remove": true
                            },
                            {
                                "key": "project/applications/heading",
                                "remove": true
                            },
                            {
                                "key": "project/reports/heading",
                                "remove": true
                            },
                            {
                                "key": "project/design/heading",
                                "remove": true
                            },
                            {
                                "key": "project/deletions/heading",
                                "remove": true
                            },
                            {
                                "key": "project/manage/heading",
                                "remove": true
                            },
                            {
                                "key": "project/developers/heading",
                                "remove": true
                            },
                            {
                                "key": "project/web/heading",
                                "remove": true
                            }
                        ]
                    }
                }
            },
            {
                "evaluator": "context-document",
                "config": {
                    "document-subcontext": {
                        "items": [
                            {
                                "key": "document",
                                "items": [
                                    {
                                        "key": "document/actions",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/associations",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/authorities",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/features",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/graph",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/json",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/rules",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/pagerenditions",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/tags",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/workflows",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/versions",
                                        "remove": true
                                    },
                                    {
                                        "key": "document/preview",
                                        "remove": true
                                    }
                                ]
                            }
                        ]
                    }
                }
            }
        ]
    }
}