{
    "evaluator": "and",
    "condition": [{
        "evaluator": "current-user-has-team",
        "condition": "oup-editors"
    }, {
        "evaluator": "context-document-has-type",
        "condition": "type:secondarypagesfolder0"   
    }],
    "config": {
        "content-types": {
            "items": [{
                "key": "n:comment",
                "title": "Customized Comment Title"
            }, {
                "key": "n:node",
                "title": "Customized Node Title"
            }]
        }
    }
}
