{
    "evaluator": "current-user-has-team",
    "condition": "oup-editors",
    "config": {
        "content-types": {
            "items": [{
                "key": "blog:blog",
                "remove": true
            }, {
                "key": "n:node",
                "remove": false,
                "title": "Empty Node"
            }]
        }
    }
}
